@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

div
{
    font-family:'Oswald',monospace;
    text-align:center;
    color: #555;
}

span
{
    color:white;
}

.header
{
    background-image: url(background.png);
    background-size: 100%;
    padding-bottom: 15vh;
    padding-top: 25vh;
}


.header h1, h4
{
    text-transform: uppercase;
    line-height: 0;
    transition: opacity 2s ease-in;
}

.header h1
{
    font-size: 6vw;
}

.header h4
{
    font-size: 2vw;
}

.header p
{
    font-family:'Lobster',monospace; 
    color: #555;
    line-height: 3;
    font-size: 1vw;
}

.header a
{
    text-decoration: none;
    color: #555;
}





.content
{
    padding-top: 2vh;
    padding-bottom: 5vh;
}

#Post:nth-child(odd)
{
    background-color: #EEE;
}

.content a
{
    text-decoration: none;
    color: #000;
}

.content a:hover
{
    color: #00e1ff;
}

.content p
{
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1vw;
}

.content h1
{
    font-size: 5vw;
}

.Photo_Gallery
{
    padding-left: 12vw;
    padding-Right: 12vw;
}

.Photo_Gallery img
{
    width: 35vh;
    height: 35vh;
    object-fit: cover;
    border-radius: 5%;
    padding: 1vh;
}

.Photo_Gallery img:hover
{
    width: 37vh;
    height: 37vh;
    padding: 0vh;
}





.footer
{
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: #222;
    color: #BBB;
    line-height: 1vh;
    font-size: 1vw;
}

.footer h1
{
    line-height: 7vh;
    font-size: 3vw;
}

.footer a
{
    text-decoration: none;
    color: #FFF;
}

.footer a:hover
{
    color: #00e1ff;
}
