@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

div
{
    font-family:'Oswald',monospace;
    text-align:center;
    color: #555;
}

span
{
    color:white;
}

.background img
{
    display: block;
    position: fixed;
    width: 75vh;
    z-index: -10;
}



.Title.Hidden
{
    transform: translate3d(0, -40vh, 0);
    transition: transform 1s ease;
}

.Title
{
    padding-top: 1vh;
    padding-bottom: 3vh;
    border: 0px;
    margin: 0px;
    position: fixed;
    background-color: #FCFF00;
    width: 100vw;
    height: 20vw;
    z-index: 100;
    transition: transform 1s ease;
}

.Title h1
{
    display: block;
    float: left;
    
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    font-size: 3.5vw;
    text-transform: uppercase;
    line-height: 0px;
    vertical-align: middle;
}

.Title h4
{
    display: block;
    float: left;
    clear: left;
    
    padding-top: 0px;
    padding-left: 2vw;
    line-height: 0px;
    text-align: left;
    font-size: 2vw;
    text-transform: uppercase;
    vertical-align: middle;
}

.Title ul
{
    list-style: none;
    
    display: block;
    text-align: right;
    padding-right: 10vw;
    padding-top: 1vh;
    text-transform: uppercase;
    word-spacing: 5vh;
    font-size: 3.5vw;
    vertical-align: middle;
}

.Title li
{
    display: inline;
    padding-left: 2vw;
    padding-top: 0vh;
    text-transform: uppercase;
    vertical-align: middle;
}

.Title a
{
    text-decoration: none;
    color: #555;
}

.Title a:hover
{
    color: #00E1FF;
}





.header
{
    padding-bottom: 30vh;
    padding-top: 40vh;
}

.header h1, header h4
{
    text-transform: uppercase;
    line-height: .3;
    animation: FadeInAndUp 1s 1;
    animation-fill-mode: both;
}

.header h1
{
    font-size: 9vw;
}

.header h4
{
    font-size: 3vw;
    animation-delay: .25s;
}

.header p
{
    font-family:'Lobster', 'Oswald',monospace; 
    color: #555;
    line-height: 3;
    font-size: 3vw;
    animation: FadeInAndUp 1s 1;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.header a
{
    text-decoration: none;
    color: #555;
}






.content
{
    opacity: 1;
    transform: scale(1, 1  , 1);
}

.content.margin
{
    opacity: 1;
    transform: scale(1, 1  , 1);
    margin-right: 10vw;
    margin-left: 10vw;
}

#Post:nth-child(odd)
{
    background-color: #EEE;
}

#Post
{
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 10vh;
}

#Gallery
{
    background-color: #DDD;
}

.content a
{
    text-decoration: none;
    color: #000;
}

.content a:hover
{
    color: #00e1ff;
}

.content p
{
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 4vw;
}

.content h1
{
    font-size: 7vw;
}

.Photo_Gallery
{
    padding-left: 8vw;
    padding-Right: 8vw;
}

.Photo_Gallery img
{
    width: 35vh;
    height: 35vh;
    object-fit: cover;
    border-radius: 5%;
    padding: 1vh;
    transition: transform .25s ease;
    
}

.Photo_Gallery img:hover
{
    transform: scale3d(1.05, 1.05, 1);
    transition: transform .25s ease;
}






.footer
{
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: #222;
    color: #BBB;
    line-height: 1vh;
    font-size: 1vw;
}

.footer h1
{
    line-height: 7vh;
    font-size: 6vw;
}

.footer p
{
    font-size: 3vw;
}

.footer a
{
    text-decoration: none;
    color: #FFF;
}

.footer a:hover
{
    color: #00e1ff;
}



@keyframes FadeInAndUp
{
    from
    {
        transform: translate3d(0, 2vw, 0);
        opacity: 0;
    }
    to
    {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
