@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

div
{
    font-family:'Oswald',monospace;
    text-align:center;
    margin: 0px;
}

span
{
    color:white;
}

.header
{
    color: red;
    background-image: url(background.png);
    background-size: 100%;
    padding-bottom: 15vh;
    padding-top: 25vh;
}


.header h1, h4
{
    color: #555;
    text-transform: uppercase;
    line-height: 0;
}

.header h1
{
    font-size: 15vw;
}

.header h4
{
    font-size: 2vw;
}

.header p
{
    font-family:'Lobster',monospace; 
    color: #555;
    line-height: 3;
    font-size: 1vw;
}

.header a
{
    text-decoration: none;
    color: #555;
}
