@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

div
{
    font-family:'Oswald',monospace;
    text-align:center;
    margin: 0px;
    color: #555;
}

span
{
    color:white;
}

.header
{
    background-image: url(background.png);
    background-size: 100%;
    padding-bottom: 15vh;
    padding-top: 25vh;
}


.header h1, h4
{
    text-transform: uppercase;
    line-height: 0;
}

.header h1
{
    font-size: 15vw;
}

.header h4
{
    font-size: 2vw;
}

.header p
{
    font-family:'Lobster',monospace; 
    color: #555;
    line-height: 3;
    font-size: 1vw;
}

.header a
{
    text-decoration: none;
    color: #555;
}





.content
{
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: #ddd;
}

.content a
{
    text-decoration: none;
    color: #000;
}

.content a:hover
{
    color: #00e1ff;
}

.content p
{
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1vw;
}

.content h1
{
    font-size: 5vw;
}

.Photo_Gallery
{
    padding-left: 100px;
    padding-Right: 100px;
}

.Photo_Gallery img
{
    width: 35vh;
    border-radius: 5%;
}





.footer
{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #222;
    color: #BBB;
    line-height: 1vh;
    font-size: 1vw;
}

.footer h1
{
    line-height: 7vh;
    font-size: 3vw;
}

.footer a
{
    text-decoration: none;
    color: #FFF;
}

.footer a:hover
{
    color: #00e1ff;
}